<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>456827371104-pl1146agm3qrhgd5dtugbmk5tjrqo0sm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.456827371104-pl1146agm3qrhgd5dtugbmk5tjrqo0sm</string>
	<key>API_KEY</key>
	<string>AIzaSyA1G6qj9piAVSgkoREbvHXZsqRr8HQO6HY</string>
	<key>GCM_SENDER_ID</key>
	<string>456827371104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.butter.CLOUD-1</string>
	<key>PROJECT_ID</key>
	<string>cloud-a68cd</string>
	<key>STORAGE_BUCKET</key>
	<string>cloud-a68cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:456827371104:ios:df4617da1f092e58794d05</string>
	<key>DATABASE_URL</key>
	<string>https://cloud-a68cd.firebaseio.com</string>
</dict>
</plist>
